<%- include("../Comunes/header.ejs") -%>
    <div class="container">
        <br>
        <ul class="pagination center ">
            <li class="active orange accent-4"><a href="#!">Todos</a></li>
            <li class="waves-effect"><a href="#!">Tacos</a></li>
            <li class="waves-effect"><a href="#!">Bebidas</a></li>
            <li class="waves-effect"><a href="#!">Otros</a></li>
        </ul>
    </div>

    <div class="row">
        <div class="col s6 m2">
            <div class="card">
                <div class="card-image ">
                    <img
                        src="https://www.caiv.org/wp-content/plugins/smg-theme-tools/public/images/not-available-es.png">
                    <a class="btn-floating halfway-fab waves-effect waves-light orange accent-4"><i
                            class="material-icons">add</i></a>
                </div>
                <div class="card-content">
                    <span class="card-title  activator grey-text text-darken-4">Tacos al pastor <h6>Precio :</h6><i
                            class="material-icons right">more_vert</i></span>
                    <p>Descripción: </p>

                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i
                            class="material-icons right">close</i></span>
                    <p>Descripción</p>
                </div>
            </div>
        </div>
    </div>
    <%- include("../Comunes/footer.ejs") -%>