<div class="parallax-container">
  <div class=" section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center bold white-text bold ">TacoMex</h1>
      <div class="row center">
        <h3 class="header col s12  white-text">Tacos buenos bonitos y baratos</h5>
      </div>
      <div class="row center">
        <a href="#" id="menu" class="btn-large waves-effect waves-light green accent-4  lighten-1">Ver menu</a>
      </div>
      <br><br>
    </div>
  </div>
  <div class="parallax"><img class="imagen" src="https://laroussecocina.mx/wp-content/uploads/2022/03/040322_COVER.png">
  </div>
</div>


<div class="container z-depth-5 white">
  <br>
  <h2 class="header center bold green-text text-accent-4">Horario</h1>
    <div class="container">
      <ul class="container center">
        <h4 class="grey-text text-darken-2">Lunes : 8:00pm-8:00am</h4>
        <h4 class="grey-text text-darken-2">Martes : 8:00pm-8:00am</h4>
        <h4 class="grey-text text-darken-2">Miercoles : 8:00pm-8:00am</h4>
        <h4 class="grey-text text-darken-2">Jueves : 8:00pm-8:00am</h4>
        <h4 class="grey-text text-darken-2">Viernes : 8:00pm-8:00am</h4>
        <h4 class="grey-text text-darken-2">Sabado : 8:00pm-8:00am</h4>
        <h4 class="grey-text text-darken-2">Domingo : 8:00pm-8:00am</h4>
      </ul>
      <br>
      <br>
    </div>
</div>