<html lang="es">

<head>
    <title>Sobre Nosotros</title>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <br><br>
                <h1 class="header center bold white-text bold ">Nuestra historia</h1>
                <br><br>
            </div>
        </div>
        <div class="parallax"><img class="imagen"
                src="https://laroussecocina.mx/wp-content/uploads/2022/03/040322_COVER.png">
        </div>
    </div>
</body>

</html>