<div id="containerTable" class="card mx-basic my-basic ">
    <div class="row">
        <div class="col s1 offset-s11">
            <button id="btnNuevo" class="waves-effect waves-light btn my-basic mx-basic blue">Nuevo</button>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <table>
                <thead>
                    <th>
                        <tr>
                            <td>Id producto</td>
                            <td>Nombre</td>
                            <td>Descripción</td>
                            <td>Fotografia</td>
                            <td>Precio</td>
                            <td>Categoria</td>
                            <td>Estatus</td>
                            <td>Acciones</td>
                        </tr>
                    </th>
                </thead>
                <tbody id="data_producto">
                </tbody>
            </table>
        </div>
    </div>
</div>