<div id="containerTable" class="card mx-basic my-basic ">
    <div class="row">
        <br>
        <div class="col s12 m9">
            <h5 class=" grey-text text-darken-3 center">Productos</h5>
            <table class="highlight  responsive-table border=1">
                <thead class="orange accent-4 white-text">
                    <tr>
                        <td>Id producto</td>
                        <td>Nombre</td>
                        <td>Descripción</td>
                        <td>Fotografia</td>
                        <td>Precio</td>
                        <td>Categoria</td>
                        <td>Estatus</td>
                        <td>Acciones</td>
                    </tr>
                </thead>
                <tbody id="data">
                </tbody>
            </table>
        </div>
    </div>
</div>