<div class="row">
    <div class="col s12 m4">
        <br><br><br>
        <a href="#" class="grey-text text-darken-2 center"><img class="responsive-img"
                src="https://cdn.pixabay.com/photo/2020/05/25/08/40/food-delivery-5217579_960_720.png"></a>
    </div>

    <div class="col s12 m8">
        <br><br><br>
        <form id="formRepartidor" action="./register" method="post" class="col s15">
            <div class="col s12 m5">
                <div class="input-field col s12">
                    <input type="text" name="nombre_rep" id="nombre_rep" class="validate" required>
                    <label for="nombre_rep">Nombre del repartidor</label>
                </div>
                <div class="input-field col s12">
                    <input type="text" name="apellidoP_rep" id="apellidoP_rep" class="validate" required>
                    <label for="apellidoP_rep">Apelliedo paterno</label>
                </div>
                <div class="input-field col s12">
                    <input type="text" name="apellidoM_rep" id="apellidoM_rep" class="validate" required>
                    <label for="apellidoM_rep">Apellido materno</label>
                </div>
              
            </div>

            <div class="col s18 m4">


                <div class="input-field col s12">
                    <input type="text" name="id_fotografia_rep" id="id_fotografia_rep" class="validate" required>
                    <label for="id_fotografia_rep">id fotografia </label>
                </div>



                    <div class="input-field col s12">
                        <input type="text" name="id_usuario_rep" id="id_usuario_rep" class="validate" required>
                        <label for="id_usuario_rep">id_usuario_rep</label>
                    </div>
                
            

                    <div class="input-field col s12">
                        <input type="text" name="estatus_rep" id="estatus_rep" class="validate" required>
                        <label for="estatus_rep">Estatus del repartidor </label>
                    </div>


                <div class="input-field col s14">
                    <button type="submit" id="btnGuardar" class="botonDentro">
                        <span id="span-1">Guardar</span>
                    </button>
                </div>

            </div>
            <br><br><br>
        </form>
    </div>

</div>


</body>
