<div id="containerTable" class=" center ">
    <div class="row">
    
        <div class="col s12 m12">
            <h5 class=" grey-text text-darken-3 center"></h5>
            <table class="highlight responsive-table border=1 centered striped">
                <thead class="green accent-4 white-text centered">
                    <tr>
                        <td>#</td>
                        <td>Nombre Repartidor</td>
                        <td>Apellido Paterno</td>
                        <td>Apellido Materno</td>
                        <td>ID Fotografia Repartidor</td>
                        <td>ID Usuario Repartidor</td>
                        <td>Estatus Repartidor</td>
                        <td>Acciones</td>
                    </tr>
                </thead>
                <tbody id="data">
                </tbody>
            </table>
        </div>
    </div>
</div>