<html lang="es">

<head>
  <title>TacoMex</title>
  <%- include("../views/Comunes/head.ejs")  -%>
</head>

<body> 
  <%- include("../views/Comunes/navbar.ejs")  -%> 
  <%- include("../views/principal/principal.ejs")  -%>
  <%- include("../views/Comunes/footer.ejs")  -%>
</body>

</html>