
    <!DOCTYPE html>
    <html lang="en">
    
    <head>
        <%- include("../Comunes/header.ejs") -%>
    </head>
    
    <body>
    
            <main>
                <h4 class="my-basic">Usuarios  </h4>
                    <%- include("../Usuario/componentes/usuario-form-component.ejs") -%>

                    <%- include("../Usuario/componentes/usuario-table-component.ejs") -%>
    
        
            </main>
      <%- include("../Comunes/footer.ejs") -%>
        
        
        <script src="/stylesheets/js/usuario/usuario.js"></script>
        <script src="/stylesheets/js/usuario/form-usuario.js"></script>

    
    </body>
    
    </html>