<!DOCTYPE html>
<html lang="es">

<head>
  <title>
    Administrador
  </title>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/css/style.css' >

</head>

<body>
  <nav>
    <div class=" white nav-wrapper">
      <div class="container">
        <a href="#" class="brand-logo grey-text text-darken-2 "><img width="60px"
            src="https://static.vecteezy.com/system/resources/previews/004/026/483/original/italy-flag-mexican-chef-mascot-holding-a-taco-vector.jpg" href="/"></a>
        <a href="#" data-target="menu-responsive" class="sidenav-trigger "><i
            class="material-icons grey-text text-darken-2 ">menu</i></a>
      </div>
      <div class="container">
        <ul class="right hide-on-med-and-down">
          <li><a class="grey-text text-darken-2" href="/">Inicio</a></li>
          <li><a class="grey-text text-darken-2" href="../Usuario/view">Roles</a></li>
          <li><a class="grey-text text-darken-2" href="../pedido/view">Pedido</a></li>
          <li><a class="grey-text text-darken-2" href="../repartidor/view">Repartidor</a></li>
          <li><a class="grey-text text-darken-2" href="../producto/view">Productos</a></li>
          <li><a class="waves-effect waves-light btn white grey-text text-darken-2" href="/">Cerrar sesion</a></li>
        </ul>
        <ul class="sidenav" id="menu-responsive">
            <li><h2></h2> </li>
            <li><a class="grey-text text-darken-2" href="../repartidor/view">Repartidor</a></li>
            <li><a class="grey-text text-darken-2" href="../producto/view">Productos</a></li>
            <li><a class="waves-effect waves-light btn white grey-text text-darken-2" href="/">Cerrar sesion</a></li>
        </ul>
      </div>
    </div>
  </nav>