<%- include("../Administrador/headerAdmin.ejs") -%>
    <div class="contenido">
        <div class="row">
            <br>
            <div class="col s12 m9">
                <h5 class=" grey-text text-darken-3 center">Productos</h5>
                <table class="highlight  responsive-table border=1">
                    <thead class="orange accent-4 white-text">
                        <tr>
                            <th>Nombre </th>
                            <th>Descripción</th>
                            <th>Precio</th>
                            <th>fotografia</th>
                            <th>Categoria</th>
                            <th>Estatus</th>
                            <th>Editar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Alvin</td>
                            <td>Eclair</td>
                            <td>$0.87</td>
                            <td>dfsadadsnjds.jpg</td>
                            <td>Tacos</td>
                            <td>Disponible</td>
                            <th><a class="waves-effect waves-light btn-small light-green accent-4"><i class="material-icons left">edit</i></a></th>
                            <th><a class="waves-effect waves-light btn-small red"><i class="material-icons left">delete</i></a></th>
                        </tr>
                    </tbody>
                </table>
            </div>



            <div class="col s12 m3">
                <h5 class="center grey-text text-darken-3">Nuevo Producto</h5>
                <form action="" class="form">
                    <div class="row">
                        <div class="input-field col s6 m12">
                            <input id="Nombre" type="text" maxlength="40">
                            <label for="Nombre">Nombre</label>
                        </div>
                        <div class="input-field col s6 m12">
                            <input id="Descripcion" type="text" maxlength="100"></textarea>
                            <label for="Descripcion">Descripción</label>
                        </div>
                        <div class="input-field col s4 m6">
                            <input id="Precio" type="number" max="6">
                            <label for="Precio">Precio</label>
                        </div>
                        <div class="input-field col s4 m6">
                            <select>
                                <option value="" disabled selected>Categoria</option>
                                <option value="1">Tacos</option>
                                <option value="2">Bebidas</option>
                                <option value="3">Otros</option>
                            </select>
                        </div>
                        <div class="input-field col s4 m12 ">
                            <select>
                                <option value="" disabled selected>Estatus</option>
                                <option value="1">Disponible</option>
                                <option value="2">No disponible</option>
                            </select>
                        </div>
                        <div class="file-field input-field col s12 m12">
                            <div class="btn grey lighten-5 grey-text ">
                                <span>Imagen</span>
                                <input type="file">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                            </div>
                        </div>
                        <div class="col s12 m12 center white-text">
                            <button class="btn waves-effect waves-light green" type="submit"
                                name="action">Agregar</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
    <%- include("../Comunes/footer.ejs") -%>