<div id="containerTable" class=" center ">
    <div class="row">
    
        <div class="col s12 m12">
            <h5 class=" grey-text text-darken-3 center">PEDIDOS</h5>
            <table class="highlight  responsive-table border=1">
                <thead class="orange accent-4 white-text">
                    <tr>
                        <td>num pedido</td>
                        <td>fecha pedido</td>
                        <td>cantidad Prod_pedido</td>
                        <td>Monto total</td>
                        <td>Estatus pedido</td>
                        <td>id_local_ped</td>
                        <td>id repartidor</td>
                        <td>id cliente pedido</td>
                        <td>Acciones</td>

                    </tr>
                </thead>
                <tbody id="data">
                </tbody>
            </table>
        </div>
    </div>
</div>