<%- include("../Comunes/header.ejs") -%>

    <div class="row">
        <div class="col s12 m4">
            <br><br><br>
            <a href="#" class="grey-text text-darken-2 center"><img class="responsive-img"
                    src="https://static.vecteezy.com/system/resources/previews/004/026/483/original/italy-flag-mexican-chef-mascot-holding-a-taco-vector.jpg"></a>
        </div>

        <div class="col s12 m8">
            <br><br><br>
            <form id="formCliente" action="./register" method="post" class="col s15">
                <div class="col s12 m5">
                    <div class="input-field col s12">
                        <input type="text" name="nombre_cli" id="nombre_cli" class="validate" required>
                        <label for="nombre_cli">Nombre</label>
                    </div>
                    <div class="input-field col s12">
                        <input type="text" name="apellidoP_cli" id="apellidoP_cli" class="validate" required>
                        <label for="apellidoP_cli">Apellido paterno</label>
                    </div>
                    <div class="input-field col s12">
                        <input type="text" name="apellidoM_cli" id="apellidoM_cli" class="validate" required>
                        <label for="apellidoM_cli">Apellido Materno</label>
                    </div>
                    <div class="input-field col s12">
                        <input type="text" name="telefono" id="telefono" class="validate" required>
                        <label for="telefono">Telefono</label>
                    </div>
                   
                </div>

                <div class="col s18 m4">


                    <div class="section">
                        <div class="input-field col s12">
                            <input type="text" name="fecha_nac" id="fecha_nac" class="datepicker" required>
                            <label for="fecha_nac">Fecha de nacimiento</label>
                        </div>
                    </div>


                    <div class="row">

                        <div class="input-field col s6">
                            <label>
                                <input class="with-gap" name="sexo_cli" id="sexo_cli" type="radio" value="H" required />
                                <span>Hombre</span>
                            </label>
                        </div>
                        <div class="input-field col s6">
                            <label>
                                <input class="with-gap" name="sexo_cli" id="sexo_cli" type="radio" value="M" required />
                                <span>Mujer</span>
                            </label>
                        </div>
                        <br><br>
                    </div>

                    <div class="input-field col s12">
                        <input type="email" name="email" id="email" class="validate">
                        <label type="email" for="email">Email</label>
                        <span class="helper-text" data-error="wrong" data-success="right">Tu email será usado como tu
                            usuario</span>
                    </div>
                    
                

                    <div class="input-field col s14">
                        <button type="submit" id="btnGuardar" class="botonDentro">
                            <span id="span-1">Guardar</span>
                        </button>
                    </div>

                </div>
                <br><br><br>
            </form>
        </div>

    </div>


    </body>

    <%- include("../Comunes/footer.ejs") -%>