<form id="formStatus" action="/api/usuario<%=id_usuario  %>" method="POST">
    <label for="">USUARIO
        <input type="text" name="usuario_us" id="usuario_us" value="<%=usuario_us  %> ">
    </label>

    <label for=""> CONTRASEÑA
        <input type="text" name="contraseña" id="contraseña" value="<%=contraseña %>">
    </label>



    <button type="submit" id="btnGuardar">Actualizar</button>
</form>