<form id="formStatus" action="/api/usuario/create" method="post">
    <label for=""> :
        <input type="text" name="status" id="status">
    </label>
    <label for=""> USUARIO:
        <input type="text" name="usuario_us" id="usuario_us">
    </label>
    <label for=""> CONTRASEÑA
        <input type="text" name="contraseña" id="contraseña">
    </label>
    <label for=""> TIPO USUARIO
        <input type="text" name="tipo_us" id="tipo_us">
    </label>


    <button type="submit" id="btnGuardar" class="waves-effect waves-light btn">Guardar</button>
</form>
