<!DOCTYPE html>
<html lang="en">




    <head>
        <title>
        </title>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel='stylesheet' href='/stylesheets/css/style.css' >
        <link rel='stylesheet' href='/stylesheets/css/style2.css' >
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="icon" type="image/svg+xml" href="./images/favicon.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
      </head>
      
      
      <nav>
        <div class=" white nav-wrapper">
          <div class="container">
            <a href="#" class="brand-logo grey-text text-darken-2 "><img width="80px"
                src="https://static.vecteezy.com/system/resources/previews/004/026/483/original/italy-flag-mexican-chef-mascot-holding-a-taco-vector.jpg" href="/"></a>
            <a href="#" data-target="menu-responsive" class="sidenav-trigger "><i
                class="material-icons grey-text text-darken-2 ">menu</i></a>
          </div>
          <div class="container">
            <ul class="right hide-on-med-and-down">
              <li><a class="grey-text text-darken-2" href="/">Inicio</a></li>
              <li><a class="grey-text text-darken-2" href="/api/menu/view">Menú</a></li>
              <li><a class="grey-text text-darken-2" href="/views/Principal/sobreNosotros">Sobre nosotros</a></li>
              <li><a href="/views/Usuario/inicio_sesion"><i class="material-icons black-text">account_circle</i> </a> </li>
            
              <li><a href=""><i class="material-icons black-text " onmouseover="showCart(this)" >shopping_basket</i> </a> </li>

           
         
            </ul>
    
            <ul class="sidenav" id="menu-responsive">
              <li><h2>   </h2></li>
              <li> <a href=""><i class="material-icons black-text">shopping_basket</i>
                
                Carrito
            
            </a>   <span id="num_cart" class="badge bg-secondary"><?php echo $num_cart; ?></span>
        </li>









              <li><a href="/views/Usuario/inicio_sesion"><i class="material-icons black-text">account_circle</i>Perfil</a></li>
              
              <li><a href="/"><i class="material-icons black-text">home</i>Inicio</a></li>
              <li><a href="/api/menu/view"><i class="material-icons black-text">restaurant</i>Menú</a></li>
              <li><a href="/views/Principal/sobreNosotros"><i class="material-icons black-text">live_help</i>Sobre
                  nosotros</a></li>
                  <li><a class="waves-effect waves-light btn white grey-text text-darken-2">Salir</a></li>
            </ul>
          </div>
          <div>
            <a class="right-on-med waves-effect waves-light btn white grey-text text-darken-2">Salir</a>
          </div>
        </div>
      </nav>
        
      
      
      


                <!-- Example split danger button -->


<body>
    
        <div>
            <p class="count-product"></p>
        </div>
        <div class="cart-products" id="products-id">
            <p class="close-btn" onclick="closeBtn()">X</p>
            <h5>Mi carrito</h5>

            <div class="card-items">
               
            </div>

            
            <h5>Total: <strong class="price-total">0</strong> $</h5>
        </div>
    

    <div class="container center">
        <h5>Productos disponibles</h5>
    </div>

    

    <section class="container">
        <div class="products">      
            <% for(var i=0;i<productos.length;i++){%>
            <div class="carts">
                <div>
                    <img src="./images/products/keyboard-1.jpg" alt="">
                    <p><span><%=productos[i].precio_pro%></span>$</p>
                </div>
                <p class="title"><%=productos[i].nombre_pro%></p>
                <p class="title"><%=productos[i].descripcion_pro%></p>
                <a href="" data-id="1" class="btn-add-cart">Agregar al carrito</a>
            </div>
            <% }%>

        </div>
    </section>

    <footer>
            <%- include("../Comunes/footer.ejs") -%>

    </footer>

    <script>
        function showCart(x){
            document.getElementById("products-id").style.display = "block";
        }
        function closeBtn(){
             document.getElementById("products-id").style.display = "none";
        }

    </script>
        <script src="/stylesheets/js/menu/menu.js"></script>
    </body>
</html>  