<%- include("../Comunes/header.ejs") -%>
    <div class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <br><br><br><br><br><br>
                <h1 class="header center white-text">Nuestra historia</h1>
            </div>
        </div>
        <div class="parallax"><img class="imagen"
                src="https://e00-marca.uecdn.es/assets/multimedia/imagenes/2019/03/31/15540565563371.png">
        </div>
    </div>


    <div class="row">
        <div class="col s12 m4">
            <br><br><br>
            <a href="#" class="grey-text text-darken-2 center"><img class="responsive-img"
                    src="https://i.pinimg.com/736x/18/8c/5c/188c5c3e29cef295505f8918bc1a3f59.jpg"></a>
        </div>
        <div class="col s12 m8">
            <br><br><br>
            <h1 class="header center bold green-text text-accent-4">TacoMex</h1>
            <br>
            <p class=" flow-text center green-text text-accent-4">El Sabor de México comienza con un Taco.</p>
            <p class=" flow-text grey-text text-darken-2">TACOMEX Ofrecer los mejores tacos al pastor y de tripa en México,
                superando las expectativas de los clientes y logrando su total satisfacción ofreciendo una buena relación
                costo-beneficio.</p>
            <br>
        
        
            <h2 class="header center bold green-text text-accent-4">Misión</h1>
                <br>
                <p class="flow-text grey-text text-darken-2">ofrecemos a nuestros clientes productos de alta calidad,
                    así como servicio y trato humano. Tenemos la responsabilidad de mantener nuestros
                    productos líderes "EL TACO AL PASTOR”; ya que al ofrecer a nuestros clientes “CALIDAD Y SABOR”,
                    ofrecemos un servicio de excelencia, dejando a nuestros clientes satisfechos, manejando altos
                    estándares de higiene y servicio.</p>
                <br><br><br>
            <h2 class="header center bold green-text text-accent-4">Visión</h1>
                <br>
                <p class="flow-text grey-text text-darken-2">Seguir siendo líderes en la venta de tacos a vapor para
                    poder acercarle al cliente nuestros productos y servicios sin perder nuestra sazón y atención
                    personalizada.</p>
                <br>
        </div>
        
    </div>
    <%- include("../Comunes/footer.ejs") -%>