<nav>
    <div class=" white nav-wrapper">
      <div class="container">
        <a href="#" class="brand-logo grey-text text-darken-2" ><img width="80px"
            src="https://static.vecteezy.com/system/resources/previews/004/026/483/original/italy-flag-mexican-chef-mascot-holding-a-taco-vector.jpg"></a>
        <a href="#" data-target="menu-responsive" class="sidenav-trigger "><i
            class="material-icons grey-text text-darken-2 ">menu</i></a>
      </div>
      <div class="container">
        <ul class="right hide-on-med-and-down">
          <li><a class="grey-text text-darken-2" href="#">Inicio</a></li>
          <li><a class="grey-text text-darken-2" href="#">Menú</a></li>
          <li><a class="grey-text text-darken-2" href="..\TacoMex\app.js">Sobre nosotros</a></li>
          <li><a href=""><i class="material-icons black-text">account_circle</i> </a> </li>
          <li><a href=""><i class="material-icons black-text">shopping_basket</i> </a> </li>
        </ul>
        <ul class="sidenav" id="menu-responsive">
          <li> <a href=""><i class="material-icons black-text">shopping_basket</i>Carrito</a></li>
          <li><a href=""><i class="material-icons black-text">account_circle</i>Perfil</a></li>
          <li><a href="#"><i class="material-icons black-text">home</i>Inicio</a></li>
          <li><a href="#"><i class="material-icons black-text">restaurant</i>Menú</a></li>
          <li><a href="../Principal/sobreNosotros.ejs"><i class="material-icons black-text">live_help</i>Sobre nosotros</a></li>
        </ul>
      </div>
    </div>
  </nav>