<%- include("../Comunes/header.ejs") -%>

    <div class="row">
        <h2 class="header center black-text">Mis datos</h2>
        <div class="col s12 m4 center">
            <a href="#" class="grey-text text-darken-2 center"><img class="responsive-img"
                    src="https://cdn-icons-png.flaticon.com/512/149/149071.png" width="300px"></a><br>
        </div>
        <div class="col s12 m4">
            <h6>Nombre: </h6><br>
            <h6>Apellido paterno: </h6><br>
            <h6>Apellido Materno: </h6><br>
            <h6>Telefono: </h6><br>
            <h6>Fecha Nacimiento: </h6><br>
        </div><br><br>
        <div class="col s12 m4">
            <a href="../EditarDatos/editarDatos" class="waves-effect waves-light btn green">Editar datos</a><br><br><br>
            <h6>Dirección: </h6><br><br>
            <a href="../EditarDatos/editarDireccion" class="waves-effect waves-light btn green">Editar dirección</a><br><br>
        </div><br><br>
    </div>
    <%- include("../Comunes/footer.ejs") -%>