.imagen {
    filter: blur(6px)
}

@media (min-width: 500px) {

    /* si desea, cambiar tamaño de la pantalla en esta línea */
    nav {
        height: 80px !important;
        /* Cambia el valor de lo que quieres */
        line-height: 80x !important;
        /* Cambia el valor de lo que quieres */
    }
}

.contenido {
    padding: 30px;
    margin: 5px;
}
.form{
    margin: 15px;
}

/* label focus color */
.input-field input:focus+label {
    color: green !important;
}

/* label underline focus color */
.row .input-field input:focus {
    border-bottom: 1px solid green !important;
    box-shadow: 0 1px 0 0 green !important
}

ul.dropdown-content.select-dropdown li span {
    color: green;
}
.boton{ 
    padding-top: 10px;
    
  }


  .botonDentro{
    border-radius: 12px;
    width: 250px;
    height: 32px;
    background-color: #00c853;;
    border-width: 0px;
    border-width: 2px;
    border-color: #3bdd7e;
    cursor:pointer;
    box-shadow:3px 2px 6px 1px#000;
    
  }


  #span-1 {
    color: white;
    font-family:'Lucida Sans';
    font-size: 18px;
}


.botonDentro2{
    border-radius: 12px;
    width: 320px;
    height: 32px;
    background-color: #fdfffe;;
    border-width: 2px;
    border-color: #00c853;
    cursor:pointer;
    box-shadow:3px 2px 6px 1px#000;
  }


  #span-2 {
    color: rgb(8, 143, 53);
    font-family:'Lucida Sans';
    font-size: 18px;
}



.tarjeta{
    background: #039BE5;
    width: 400px;
    height: 270px;
    border-radius: 15px;
    padding: 15px;
   }