<div id="containerTable" class="card mx-basic my-basic ">
    <div class="row">
        <div class="col s1 offset-s11">
            <button  id="btnNuevo"
                class="waves-effect waves-light btn my-basic mx-basic blue">Nuevo</button>
        </div>
    </div>
  <div class="row">
    <div class="col s12">
        <table>
            <thead>
                <th>
                    <tr>
                        <td>#</td>
                        <td>Usuario</td>
                        <td>Contraseña</td>
                        <td>Tipo de usuario</td>
                    </tr>
                </th>
            </thead>
            <tbody id="data">
            </tbody>
        </table>
    </div>
  </div>
</div>