<div id="containerForm" class="card mx-basic my-basic hide">
    <form id="formUsuario" action="/api/usuario" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="input-field col s12">
                <input id="usuario_us" name="usuario_us" type="text" class="validate">
                <label for="usuario_us">Nombre usuario</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s4">
                <input id="contrase単a" name="contrase単a" type="text" class="validate">
                <label for="contrase単a">Contrase単a</label>
            </div>


            <div class="input-field col s4">
                <input id="tipo_us" name="tipo_us" type="text" class="validate">
                <label for="tipo_us">Tipo de usuario</label>
            </div>
        </div>
       
    </form>
    <div class="row">
        <div class="col s1 offset-s10">
            <button type="submit" 
            id="btnGuardar"    name="btnGuardar" for="btnGuardar"

                class="waves-effect waves-light btn my-basic mx-basic blue">Registrar</button>
        </div>
        <div class="col s1">
            <button id="btnCancelar" 
            id="btnCancelar"    name="btnCancelar" for="btnCancelary"

            class="waves-effect waves-light btn my-basic mx-basic red">Cancelar</button>
        </div>
    </div>
</div>
