<footer class="page-footer red accent-4">
  <div class="row">
    <div class="col l4 s12 center ">
      <br>
      <h6 class="white-text ">Acerca de..</h5>
      <p>El Sabor de México comienza con un Taco.
        TACOMEX Ofrecer los mejores tacos al pastor y de tripa en México, superando las expectativas de los clientes y logrando su total satisfacción ofreciendo una buena relación costo-beneficio.</p>
    </div>


    <div class="col l4 s12 center">
      <div class="map_container">
        <div class="map">
          <iframe
            src=""
            width="300" height="150" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>



    <div class="col l4 s12 center">
      <div class="redes">
        <br>
        <h6 class="white-text ">Contacto : tacomex@gmail.com</h5>
          <h6 class="white-text ">Tel : 951 326 2622</h5><br>
            <a href="#"><img
                src="https://www.seekpng.com/png/full/68-682133_ig-dm-white-instagram-png-transparent-background.png"
                width="45px" alt=""></a>
            <a href="#"><img
                src="http://www.arboledasdelconsuelo.com/wp-content/uploads/2018/10/facebook-light_White.png"
                width="50px" alt=""></a>
            <a href="#"><img
                src="https://www.pngkey.com/png/full/957-9574123_twitter-twitter-icon-white-transparent.png"
                width="50px" alt=""></a>
      </div>
    </div>




  </div>
  <div class="footer-copyright red darken-4">
    <div class="container center">
      © 2022 Copyright TacoMex
    </div>
  </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script src="/stylesheets/js/menu/menu.js"></script>

<script src="/stylesheets/js/http.js"></script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    M.AutoInit();
  });
</script>
<script>
  function showCart(x) {
    document.getElementById("products-id").style.display = "block";
  }
  function closeBtn() {
    document.getElementById("products-id").style.display = "none";
  }

</script>
</body>

</html>