<footer class="page-footer red accent-4">
  <div class="row">
    <div class="col l4 s12 center ">
      <br>
      <h6 class="white-text ">Acerca de..</h5>
      <p>El Sabor de México comienza con un Taco.
        TACOMEX Ofrecer los mejores tacos al pastor y de tripa en México, superando las expectativas de los clientes y logrando su total satisfacción ofreciendo una buena relación costo-beneficio.</p>
    </div>


    <div class="col l4 s12 center">
      <div class="map_container">
        <div class="map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3814.279781432487!2d-96.72061304979624!3d17.058962016627035!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85c72247c6d001a1%3A0x6b863bc84e6288a9!2sGonz%C3%A1lez%20Ortega%20220%2C%20Zona%20Feb%2010%202015%2C%20Centro%2C%2068000%20Oaxaca%20de%20Ju%C3%A1rez%2C%20Oax.!5e0!3m2!1ses-419!2smx!4v1659538177367!5m2!1ses-419!2smx"
            width="300" height="150" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>



    <div class="col l4 s12 center">
      <div class="redes">
        <br>
        <h6 class="white-text ">Contacto : tacomex@gmail.com</h5>
          <h6 class="white-text ">Tel : 951 326 2622</h5><br>
            <a href="#"><img
                src="https://www.seekpng.com/png/full/68-682133_ig-dm-white-instagram-png-transparent-background.png"
                width="45px" alt=""></a>
            <a href="#"><img
                src="http://www.arboledasdelconsuelo.com/wp-content/uploads/2018/10/facebook-light_White.png"
                width="50px" alt=""></a>
            <a href="#"><img
                src="https://www.pngkey.com/png/full/957-9574123_twitter-twitter-icon-white-transparent.png"
                width="50px" alt=""></a>
      </div>
    </div>




  </div>
  <div class="footer-copyright red darken-4">
    <div class="container center">
      © 2022 Copyright TacoMex
    </div>
  </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script src="/stylesheets/js/menu/menu.js"></script>

<script src="/stylesheets/js/http.js"></script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    M.AutoInit();
  });
</script>
<script>
  function showCart(x) {
    document.getElementById("products-id").style.display = "block";
  }
  function closeBtn() {
    document.getElementById("products-id").style.display = "none";
  }

</script>
<script 
async
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"></script>
</body>

</html>