<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/svg+xml" href="./images/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tacomex</title>
    <link rel='stylesheet' href='/stylesheets/css/style2.css'>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel='stylesheet' href='/stylesheets/css/style.css'>
    <link rel='stylesheet' href='/stylesheets/css/style2.css'>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/svg+xml" href="./images/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>



    <header>
        <div class="header-section container">
            <img class="logo"
                src="https://static.vecteezy.com/system/resources/previews/004/026/483/original/italy-flag-mexican-chef-mascot-holding-a-taco-vector.jpg"
                alt="">

            <a class="grey-text text-darken-2" href="/">Inicio</a>
            <a class="grey-text text-darken-2" href="/api/menu/view">Menú</a>
            <a class="grey-text text-darken-2" href="/views/Principal/sobreNosotros">Sobre
                nosotros</a>
            <a href="/api/cliente/login"><i class="material-icons black-text">account_circle</i>
            </a>

            </nav>

            <div>
                <img onmouseover="showCart(this)" class="cart" src="/stylesheets/images/productos/carrito.png" alt="">
                <p class="count-product">0</p>
            </div>

            <div class="cart-products" id="products-id">
                <p class="close-btn" onclick="closeBtn()">X</p>
                <h5>Mi carrito</h5>
                <div class="card-items">
                </div>
                <h5>Total: <strong class="price-total">0</strong> $</h5>
                <a class="waves-effect waves-light btn">Hacer pedido</a>
            </div>
        </div>

    </header>