<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../Comunes/header.ejs") -%>
</head>

<body>
    <main>
        <h4 class="my-basic">PRODUCTOS </h4>
        <%- include("../productos/components/producto-form-component.ejs") -%>
        <%- include("../productos/components/producto-table-component.ejs") -%>
            <!--img width="100" height="100" src="/api/v1/file?filePath= " alt="" srcset=""-->
    </main>
    <%- include("../Comunes/footer.ejs") -%>
        <script src="/stylesheets/js/producto/producto.js"></script>
        <script src="/stylesheets/js/producto/form-producto.js"></script>

</body>

</html>